body {
    background-color: #e6d1c6
}

.btn_azul {
    border-color: #172d78;
    color: #172d78;
}

.btn_azul:hover {
    background-color: #172d78;
    color: #fff;;
    border-color: #172d78;
}

.btn_bege {
    border-color: #a88e81;
    background-color: #a88e81;
    color: #fff;
}

.btn_bege:hover {
    color: #a88e81;
    border-color: #a88e81;
}

.active_azul {
    color: #172d78;
}

.nav_link_azul .active_azul:hover{
    color: #172d78;
}

.nav_link_azul .outros:hover {
  color: #a88e81;       
}